@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-black: #000000;
    --color-black-alpha-1: rgba(0, 0, 0, 5%);
    --color-black-alpha-2: rgba(0, 0, 0, 10%);
    --color-black-alpha-3: rgba(0, 0, 0, 15%);
    --color-black-alpha-4: rgba(0, 0, 0, 24%);
    --color-black-alpha-5: rgba(0, 0, 0, 32%);
    --color-black-alpha-6: rgba(0, 0, 0, 42%);
    --color-black-alpha-7: rgba(0, 0, 0, 56%);
    --color-black-alpha-8: rgba(0, 0, 0, 75%);
    --color-grey: #151617;
    --color-white: #ffffff;
    --color-white-1: #f2f3f7;
    --color-white-2: #e6e7ed;
    --color-white-alpha-1: rgba(255, 255, 255, 7%);
    --color-white-alpha-2: rgba(255, 255, 255, 12%);
    --color-white-alpha-3: rgba(255, 255, 255, 18%);
    --color-white-alpha-4: rgba(255, 255, 255, 41%);
    --color-white-alpha-5: rgba(255, 255, 255, 49%);
    --color-white-alpha-6: rgba(255, 255, 255, 60%);
    --color-white-alpha-7: rgba(255, 255, 255, 72%);
    --color-white-alpha-8: rgba(255, 255, 255, 81%);
    --color-neutral-0: #ffffff;
    --color-neutral-0-80: rgba(255, 255, 255, 80%);
    --color-neutral-1: #f2f3f7;
    --color-neutral-2: #e6e7ed;
    --color-neutral-3: #d9dae0;
    --color-neutral-4: #c2c3c9;
    --color-neutral-5: #aeafb5;
    --color-neutral-6: #93949a;
    --color-neutral-7: #707177;
    --color-neutral-8: #404147;
    --color-neutral-9: #000000;
    --color-neutral-alpha-1: rgba(38, 55, 122, 6%);
    --color-neutral-alpha-2: rgba(5, 16, 75, 10%);
    --color-neutral-alpha-3: rgba(2, 8, 48, 15%);
    --color-neutral-alpha-4: rgba(2, 5, 24, 32%);
    --color-neutral-alpha-5: rgba(4, 6, 20, 43%);
    --color-accent-300: #6161f2;
    --color-accent-400: #4d3de3;
    --color-accent-500: #410cd9;
    --color-accent-600: #280197;
    --color-accent-alpha-1: rgba(88, 38, 222, 6%);
    --color-accent-alpha-2: rgba(64, 10, 219, 11%);
    --color-accent-alpha-3: rgba(67, 14, 220, 17%);
    --color-accent-alpha-4: rgba(62, 7, 218, 27%);
    --color-accent-alpha-5: rgba(55, 1, 215, 35%);
    --color-positive-400: #3dba83;
    --color-positive-500: #00a66f;
    --color-positive-600: #018255;
    --color-positive-alpha-1: rgba(15, 175, 125, 10%);
    --color-positive-alpha-2: rgba(8, 166, 113, 19%);
    --color-positive-alpha-3: rgba(3, 165, 114, 29%);
    --color-negative-400: #ff6b5e;
    --color-negative-500: #ff3333;
    --color-negative-600: #c92224;
    --color-negative-alpha-1: rgba(255, 105, 105, 10%);
    --color-negative-alpha-2: rgba(255, 24, 24, 13%);
    --color-negative-alpha-3: rgba(255, 74, 74, 26%);
    --color-magic-accent-400: #ee65f5;
    --color-magic-accent-500: #da45e5;
    --color-magic-accent-600: #ad31b7;
    --color-animation-accent-500: #cfc5ff;
    --color-camera-accent-500: #f5b63d;
    --color-secondary-moon-grape: #626eff;
    --color-secondary-electric-litchi: #ff86f6;
    --color-secondary-sunny-mango: #ffa602;
    --color-secondary-coral-cherry: #ff538c;
    --color-secondary-navy: #000255;
    --color-secondary-lilac: #e7e8ff;
    --color-secondary-modal: #f7f7fa;
    --color-spotlight: rgba(255, 166, 2, 0.16);
    --color-spotlight-down: rgba(255, 166, 2, 0.34);
    --color-replaceable: #00ffc2;
    --color-surface-default: var(--color-neutral-0);
    --color-surface-alternate: var(--color-neutral-1);
    --color-surface-low: var(--color-neutral-1);
    --color-surface-high: var(--color-neutral-0);
    --color-surface-higher: var(--color-neutral-0);
    --color-background-primary: var(--color-white);
    --color-background-secondary: var(--color-neutral-7);
    --color-background-default: var(--color-neutral-9);
    --color-background-hover: var(--color-neutral-8);
    --color-background-down: var(--color-neutral-9);
    --color-background-subdued: var(--color-neutral-alpha-1);
    --color-background-subdued-hover: var(--color-neutral-alpha-2);
    --color-background-subdued-down: var(--color-neutral-alpha-3);
    --color-background-accent: var(--color-accent-500);
    --color-background-accent-hover: var(--color-accent-400);
    --color-background-accent-down: var(--color-accent-600);
    --color-background-accent-subdued: var(--color-accent-alpha-1);
    --color-background-accent-subdued-hover: var(--color-accent-alpha-2);
    --color-background-accent-subdued-down: var(--color-accent-alpha-3);
    --color-background-positive: var(--color-positive-500);
    --color-background-positive-hover: var(--color-positive-400);
    --color-background-positive-down: var(--color-positive-600);
    --color-background-positive-subdued: var(--color-positive-alpha-1);
    --color-background-positive-subdued-hover: var(--color-positive-alpha-2);
    --color-background-positive-subdued-down: var(--color-positive-alpha-3);
    --color-background-negative: var(--color-negative-500);
    --color-background-negative-hover: var(--color-negative-400);
    --color-background-negative-down: var(--color-negative-600);
    --color-background-tab: var(--color-neutral-0);
    --color-background-bar: var(--color-neutral-0-80);
    --color-background-white: var(--color-white);
    --color-background-white-hover: var(--color-white-1);
    --color-background-white-down: var(--color-white-2);
    --color-background-white-subdued: var(--color-white-alpha-3);
    --color-background-white-subdued-hover: var(--color-white-alpha-4);
    --color-background-white-subdued-down: var(--color-white-alpha-5);
    --color-background-inverted: var(--color-white);
    --color-background-overlay: var(--color-black-alpha-4);
    --color-background-modal: var(--color-secondary-modal);
    --color-content-primary: var(--color-neutral-9);
    --color-content-inverted: var(--color-white);
    --color-content-subdued-primary: var(--color-neutral-8);
    --color-content-secondary: var(--color-neutral-7);
    --color-content-tertiary: var(--color-neutral-6);
    --color-content-accent: var(--color-accent-500);
    --color-content-accent-hover: var(--color-accent-400);
    --color-content-accent-down: var(--color-accent-600);
    --color-content-positive: var(--color-positive-500);
    --color-content-positive-hover: var(--color-positive-400);
    --color-content-positive-down: var(--color-positive-600);
    --color-content-negative: var(--color-negative-500);
    --color-content-negative-hover: var(--color-negative-400);
    --color-content-negative-down: var(--color-negative-600);
    --color-content-camera-accent: var(--color-camera-accent-500);
    --color-content-white-primary: var(--color-white);
    --color-content-white-secondary: var(--color-white-alpha-8);
    --color-content-black-primary: var(--color-black);
    --color-content-white-primary-inverted: var(--color-white);
    --color-misc-divider: var(--color-neutral-alpha-2);
    --color-misc-border: var(--color-neutral-alpha-3);
}

@layer theme {
    .dark {
        --color-background-default: var(--color-white);
        --color-background-primary: var(--color-neutral-9);
        --color-surface-high: var(--color-neutral-9);
        --color-surface-higher: var(--color-neutral-9);
        --color-background-accent: var(--color-accent-600);
        --color-background-accent-hover: var(--color-accent-500);
        --color-background-accent-down: var(--color-accent-600);
        --color-background-accent-subdued: var(--color-accent-alpha-5);
        --color-background-accent-subdued-hover: var(--color-accent-alpha-4);
        --color-background-accent-hover: var(--color-accent-300);
        --color-background-subdued: var(--color-neutral-8);
        --color-background-subdued-hover: var(--color-neutral-7);
        --color-background-subdued-down: var(--color-neutral-6);
        --color-content-primary: var(--color-white);
        --color-content-inverted: var(--color-neutral-9);
        --color-content-accent: var(--color-accent-300);
        --color-background-overlay: var(--color-white-alpha-1);
        --color-background-modal: var(--color-grey);
        --color-background-inverted: var(--color-neutral-9);
        --color-misc-border: var(--color-white-alpha-4);
        --color-surface-low: var(--color-grey);
    }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

#root {
    height: 100%;
}
